/*.main-page{
	color: #00274C;
	font-weight: bold;
}

.main-nav a{
	padding-top: 5px;
	margin-top: -22px;
	text-decoration: none;
	font-weight: bold; 
	color: white;
	background-color: #00274C;
	
}
*/